<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <title>Employees Database</title>
</head>
<div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-">
        <!-- Brand/logo -->
        <a class="navbar-brand text-white" href="/">
            <h4>Employee Database</h4>
        </a>

        <!-- Links -->
        <div>
            <ul class="navbar-nav mr-auto mr-0">
                <h5 class="nav-item">
                    <a class="nav-link text-white" href="/employee/new">Add New Employee</a>
                </h5>
                <h5 class="nav-item">
                    <a class="nav-link text-white" href="/employee/search">Search</a>
                </h5>

            </ul>
        </div>

    </nav>

</div>

<body>